body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #444;
}

.react-tabs__tab {
    padding: 10px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background-color: #444;
    color: #fff;
}

.CodeMirror {
    height: 400px;
    border: 1px solid #444;
    margin-bottom: 20px;
}